<div class="container-fluid">
  <div class="row">
  <div class="col-5">
    <div class="md-form">
     
        <button mat-raised-button (click)='fill(countRecords.value)'>Fill records</button>
     
        <mat-form-field>
          <input type="number" matInput #countRecords>
        </mat-form-field>
      
    </div>
    <div class="md-form">
     
        <button mat-raised-button (click)='countDeleteEF(countDelete.value)'>Delete with EF</button>
      
        <button mat-raised-button (click)='countDeleteSQL(countDelete.value)'>Delete with SQL</button>
      
        <mat-form-field>
          <input type="number" matInput #countDelete>
        </mat-form-field>
      
    </div>
    <div class="md-form">
      <div class=" form-group">
        <button mat-raised-button (click)='selectEF()'>Select with EF</button>
      
        <button mat-raised-button (click)='selectSql()'>Select with SQL</button>
      </div>
    </div>
    <div class="md-form">
      
        <button mat-raised-button (click)='flushEF()'>Flush with EF</button>
    
        <button mat-raised-button (click)='flushSql()'>Flush with SQL</button>
      
    </div>
  </div>
  <div class="col-7">
    <mat-list>
      <mat-list-item>CPU: {{CPU}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>RAM: {{RAM}} GB</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>HDDType: {{HDDType}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>HDDModels: {{HDDModels}}</mat-list-item>
    </mat-list>

  </div>
</div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table2 [dataSource]="dataSourceSession">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
      <mat-cell *matCellDef="let TestRecord"> {{TestRecord.Id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Count">
      <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
      <mat-cell *matCellDef="let TestRecord"> {{TestRecord.Count}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="OperationType">
      <mat-header-cell *matHeaderCellDef>OperationType</mat-header-cell>
      <mat-cell *matCellDef="let TestRecord"> {{TestRecord.OperationType}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ExecutionTime">
      <mat-header-cell *matHeaderCellDef>ExecutionTime</mat-header-cell>
      <mat-cell *matCellDef="let TestRecord"> {{TestRecord.ExecutionTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsSession"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsSession;"></mat-row>
  </mat-table>

  <mat-paginator #paginatorSession [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">

  </mat-paginator>
</div>
<div class="spinner center" *ngIf=isSpinner>
  <div class="row justify-content-center ">
    <div class="col align-self-center ">
      <mat-spinner diameter=100>
      </mat-spinner>
    </div>
  </div>
</div>