
  <div class="row">
    <div class="col-12">
        <button mat-raised-button (click)='ClearHistory()'>Clear History</button>
      <div class="example-container mat-elevation-z8">
          <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
        <mat-table #table2 [dataSource]="dataSourceHistory">

          <!-- Position Column -->
          <ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
            <mat-cell *matCellDef="let RecordTestForHistory"> {{RecordTestForHistory.Id}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Count">
            <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
            <mat-cell *matCellDef="let RecordTestForHistory"> {{RecordTestForHistory.Count}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="OperationType">
            <mat-header-cell *matHeaderCellDef>OperationType</mat-header-cell>
            <mat-cell *matCellDef="let RecordTestForHistory"> {{RecordTestForHistory.OperationType}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ExecutionTime">
            <mat-header-cell *matHeaderCellDef>ExecutionTime</mat-header-cell>
            <mat-cell *matCellDef="let RecordTestForHistory"> {{RecordTestForHistory.ExecutionTime}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsHistory"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></mat-row>
        </mat-table>

        <mat-paginator #paginatorHistory [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">

        </mat-paginator>
      </div>
    </div>
  </div>
    <div class="container-fluid paddingTop">
    <div class="row">
      <div class="col-6">  
        <div>
            <mat-form-field>
              <mat-select placeholder="Operation Type">
                <mat-option #typeName *ngFor="let type of operationType" [value]="type" (click)="SampleDataOnTransactions(typeName.value)">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Count">
                <mat-option #typeName *ngFor="let count of filteredOperations" [value]="count" (click)="SvgDrawingGraph(typeName.value)">
                  {{ count }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <canvas id="myChart" width="500" height="300"></canvas>
        </div>
    </div>
  </div>

  