
<div class="row">
  <div class="col-3">
    <div class="row">
      <button mat-button (click)='Fill(countRecords.value)'>Fill records</button>
      <mat-form-field>
        <input type="number" matInput #countRecords>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-button (click)='CountDeleteEF(countDelete.value)'>Delete with EF</button>
      <button mat-button (click)='CountDeleteSQL(countDelete.value)'>Delete with SQL</button>
      <mat-form-field>
        <input type="number" matInput #countDelete>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-button (click)='SelectEF()'>Select with EF</button>
      <button mat-button (click)='SelectSql()'>Select with SQL</button>
    </div>
    <div class="row">
      <button mat-button (click)='FlushEF()'>Flush with EF</button>
      <button mat-button (click)='FlushSql()'>Flush with SQL</button>
    </div>
  </div>
  <div class="col-9">
    <mat-list>
        <mat-list-item>CPU:{{CPU}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>RAM:{{RAM}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>HDDType:{{HDDType}} HDDModels:{{HDDModels}}</mat-list-item>
      </mat-list>
      
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table2 [dataSource]="dataSourceSession">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
      <mat-cell *matCellDef="let RecordTestForSession"> {{RecordTestForSession.Id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Count">
      <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
      <mat-cell *matCellDef="let RecordTestForSession"> {{RecordTestForSession.Count}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="OperationType">
      <mat-header-cell *matHeaderCellDef>OperationType</mat-header-cell>
      <mat-cell *matCellDef="let RecordTestForSession"> {{RecordTestForSession.OperationType}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ExecutionTime">
      <mat-header-cell *matHeaderCellDef>ExecutionTime</mat-header-cell>
      <mat-cell *matCellDef="let RecordTestForSession"> {{RecordTestForSession.ExecutionTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsSession"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsSession;"></mat-row>
  </mat-table>

  <mat-paginator #paginatorSession [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">

  </mat-paginator>
</div>
<div class="spinner center" *ngIf=isSpinner>
  <div class="row justify-content-center ">
    <div class="col align-self-center ">
        <mat-spinner diameter=100  >
          </mat-spinner>
    </div>
  </div>
</div>